#root {

  margin: 0 auto;
  text-align: center;

}
body{
  margin: 0;
}
.advancedSearch#false,.bookAddedAnnounce#true{
  display: none;
}
.advancedSearch#true,.bookAddedAnnounce#false{
  display: block;
}
.homepage>.content{
  display:flex;
}
.feed>ul,.currentList>ul{
  display:flex;
  flex-direction: column-reverse;
}