#root {

  margin: 0 auto;
  text-align: center;
  --rojo: #de1a1aff;
  --ghost-white: #e8ebf7ff;
  --powder-blue: #acbed8ff;
  --peach-yellow: #f2d398ff;
  --fulvous: #d78521ff;
  font-family: "Ubuntu", sans-serif;
}
button,input,select{
  font-family: "Ubuntu", sans-serif;

}
body{
  margin: 0;

}
.navBar{
  display:flex;
  background-color: var(--rojo);
  color: var(--peach-yellow);
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;

}
.navBar>.heading,.navBar>.routes{
  display: flex;
  align-items: center;
  gap: 5px;
}
.navBar>.routes{
  gap:20px;
}
.navBar>.routes>a{
  color: var(--peach-yellow);
  font-size: 20px;
}
.navBar>.user{
  display: flex;
  gap:20px;
  font-size: 20px;
}
.navBar>.user>a{
  color: var(--peach-yellow);

}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:7px
}
.basicSearch{
  display:flex;
  flex-direction: column;
  gap:5px;
}
.basicSearch>.query{
  border:var(--peach-yellow) 2px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;

}
.basicSearch>.query>input{
  background-color: var(--rojo);
  color: var(--peach-yellow);
  border-radius: 5px;
  font-size: 15px;
  border:0;

}
.advancedSearch>div>div>input{
  background-color: var(--rojo);
  border:var(--peach-yellow) 2px solid;
  color: var(--peach-yellow);
  border-radius: 5px;
  font-size: 15px;
}
.basicSearch>.advance{
  font-size: 12px;
  padding-top: 5px;
  text-decoration: underline solid;
}
input:focus{
  outline:none;
}
.basicSearch>.query>button{
  background-color: var(--rojo);
  padding:0px;
  border-color: rgba(128, 128, 128, 0.342);
}
.advancedSearch>button{
  background-color: var(--rojo);
  display: flex;
  align-items: center;
  gap:5px;
  padding: 2px 5px;
  color:var(--peach-yellow);
  border-color: rgba(128, 128, 128, 0.342);

}
.advancedSearch>div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap:5px
}
.advancedSearch>div>div{
  display: flex;
  gap:5px;
  font-size: 12px;
  align-items: center;
}
.advancedSearch#false,.bookAddedAnnounce#true{
  display: none;
}
.advancedSearch#true,.bookAddedAnnounce#false{
  display: flex;
  align-items: center;
  gap:10px
}
.homepage{
  background-color: var(--ghost-white);
}

.homepage>.content{
  display:grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 25px;
  padding:1em .5em 1em 1em
}
.homepage>.content>.lists{
  margin-top:25px;
  display: flex;
  flex-direction: column;
  gap:25px;
  
}

.currentlyReading,.suggestions{
  border: 2px var(--fulvous) solid;
  border-radius: 5px;
}
.myBooks>.content>.lists{
  border: 2px var(--fulvous) solid;

}
.currentlyReading>.title,.suggestions>.title,.lists>.title{
  background-color: var(--fulvous);
  color: var(--peach-yellow);
  margin: 0px;
  padding:.5em;
}
.currentlyReading>.title{
  text-decoration: underline;
}
.currentlyReading>ul,.suggestions>ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin:10px 20px;
  column-gap: 15px;
  row-gap: 15px;
  
}
.currentlyReading>ul>li,.suggestions>ul>li{
  background-color: var(--peach-yellow);
  box-shadow: 0px 0px 5px 0px var(--fulvous); 
  padding:10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap:5px;
  align-items: center;
  border-radius: 5px;
}
.currentlyReading>ul>li>.title,.suggestions>ul>li>.title{
  text-decoration: underline;
  color: var(--fulvous)
}
.currentlyReading>ul>li>.author,.suggestions>ul>li>.author{
  color: gray;
  font-size: 12px;
}

.currentlyReading>ul>li>img,.suggestions>ul>li>img,.feed>ul>li>img,.feed>ul>li,.bookData>.info>img{

  box-shadow: 0px 0px 5px 0px rgb(5, 5, 5); 
}
.currentlyReading>ul>li>img,.suggestions>ul>li>img,td>img{
  width: 60px;
  height:90px;
}
.currentlyReading>.empty{
  padding: 20px;
}
.feed{
  border: 2px var(--fulvous) solid;
  border-radius: 15px;
  background-color: var(--fulvous);
  padding:0px 20px 20px 20px;

}
.feed>.title{
  color: var(--peach-yellow);
  border-bottom: 2px var(--peach-yellow) solid;

  margin: 0px;
  padding:.5em 0 0 0;
}

.feed>ul>li{
  background-color: var(--ghost-white);
  padding:20px;
  display: flex;
  flex-direction: row-reverse;
  gap:25px;
  justify-content: flex-end;
  align-items: center ;
  font-size: 18px;
  border-radius: 10px;
}
span.underline{
  text-decoration: underline solid;
  color: var(--fulvous);

}

.feed>ul{
  gap:20px;
  margin-top:20px;
  margin-bottom: 20px;
  padding:0 10em

}
.feed>ul {
  display:flex;
  flex-direction: column-reverse;
}
.feed>button{
  background-color: var(--peach-yellow);
  border-radius:5px;
  border:1px var(--fulvous) solid;
  padding:2px 6px;
}
ul.empty>li{
justify-content: center;
}
.showMore:focus,.showMore:hover{
  box-shadow: 0px 0px 5px 0px rgb(5, 5, 5); 

}
.end{
  color: var(--powder-blue);
}
ul{
  padding:0px;
  margin: 0px;
}
li{
  list-style-type: none;
}
.myBooks,.bookInfo{
  background-color: var(--ghost-white);
}
.myBooks>.content{
  display:grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}


table{
  border-collapse: collapse;
}
td{
  border: 1px solid var(--fulvous);
  
}
.deleteText{
  font-size: 11px;
}

.listCards{
  display: flex;
  flex-direction: column;
  gap:10px;
  text-decoration: underline;
  padding: 15px;
  

}
.listCards>li{
  display: flex;
  gap:10px;
}
.listCards>li>button{
  border: 0px;
}
.listCards>li>button:hover {
  box-shadow: 0px 0px 5px 0px var(--fulvous); 
  border-radius: 5px;

}

.newListForm{
  display: flex;
  gap:10px;
  font-size: 15px;
  border:0;
  justify-content: center;
}
.newListForm>input,.newListForm>button{
  border: 1px var(--fulvous) solid;
  border-radius: 5px;
  padding:2px 6px;
}

.newListForm>button{
  color:var(--fulvous);
  font-weight: bold;
}
.errorList{
  font-size: 15px;
  margin-top: 5px;
  color: var(--rojo);
}
th.sorted{
  text-wrap: nowrap;
}
th.sorted>span{
justify-self: center;
}
.currentList{
  padding: 0 20px;
}
.currentList>h2{
  color: var(--fulvous);
}
td{
  padding: 5px;
}
.emptyList{
  font-size: 15px;
  color: gray;
}
.searchResults{
  background-color: var(--ghost-white);
  display: flex;
  padding:20px 50px;

  flex-direction: column;
}
.searchResults>ul{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
}
.searchResults>h2{
  border-bottom: 2px solid var(--fulvous);
}

.queryAndResults{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.query{
  text-decoration: underline;
  color: var(--fulvous);
}
.searchResults>ul>li>img{
  width: 120px;
  margin-bottom: 5px;
}
.searchResults>ul>li{
  padding:10px;
  width:180px;
  box-shadow: 0px 0px 5px 1px rgb(5, 5, 5); 
}
.bookInfo{
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.479);
  min-height: 90vh;

}

.userData{
  padding:10px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.479);

}
.userData>h2,.userData>.rate>h3{
  border-bottom: 2px var(--fulvous) solid;

}
.userData>.lists>ul>li{
  display: flex;
  gap:5px

}
.userData>.lists>ul{
  padding:10px
  
}
.userData>.lists>ul>li>button,.userData>button,form.addBook>button{
  background-color: var(--peach-yellow);
  border-radius: 5px;
  border: 1px solid var(--fulvous);
}
.userData>.lists>ul>li>button:hover,.userData>button:hover,form.addBook>button:hover,.login>form>button:hover,.signUp>form>button:hover{
  box-shadow: 0px 0px 2px 0px rgb(5, 5, 5); 

}

.userData,.rate{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
}


form.addBook>select{
  border-radius: 5px;
  border: 1px solid var(--fulvous);

}
form.addBook{
  display: flex;
  gap: 10px;
}

.bookName{
  text-decoration: underline;
}
.bookData{
  padding:40px;
}
.bookData>.info{
  display:flex;
  gap:25px;
  padding:20px;
  border-bottom: 1px solid var(--fulvous);
  margin-bottom:20px;

}
.bookData>.info>div{
  display:flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
  align-items: flex-start ;
}


.login>form,.signUp>form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin:0 auto;
  gap:10px;
}
.signUp>h2{
  margin:0
}
.login>form>div,.signUp>form>div{
  display: flex;
  gap:10px
}
.login>form>button,.signUp>form>button{
  margin-top: 10px;
  background-color: var(--fulvous);
  border-radius: 5px;
  border: 2px solid var(--fulvous);
  align-self: center;
  padding:2px 6px;
  font-size: 15px;
}
.login>form>div>input,.signUp>form>div>input{
  border: 1px var(--fulvous) solid;
  border-radius: 5px;
  padding:2px 6px;
}

.loading{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  justify-content: center;
  font-size: 25px;
}
.loadingImage{
  width: 75px;
  animation: rotating 2s linear  infinite ;
}
@keyframes rotating { 
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.loadingImage#false{
  display: none;
}
.loadingImage#true{
  width:50px
}
.imageAndError{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notLoggedIn,.login,.signUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--peach-yellow);
  font-size: 20px;
  gap:15px;
 
  padding: 25px;
  position: fixed;
  top:0px;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px var(--fulvous);
 
}

.notLoggedIn{
  top:20%;
}
.signUp{
  top:10%;
}